body{
    background-color: #999999;
}
.cabecera{
    height: 100px;
    width: 100%;
    background-color: #666666;
}
.imgLogo{
    margin-left: 20px;
    height: 100px;
    position: relative;
    float: left;
}
.login{
    height: 100px;
    position: relative;
    float: right;
    border-left: 5px #666666 solid;
    vertical-align: bottom;
}
#logerase #resgistrarse{
    margin-top: 15px;
}
.menu{
    height: 47px;
    width: 90%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position:relative;
    float:left;
    border-bottom: 4px #666666 outset;
}
#menu{
        margin-top: 0px;
}
.boton{
    background-color:#ffffff;
    position:relative;
    float: left;
    display:inline;
    width:auto;
    vertical-align:bottom;;
    padding-left: 20px;
    border: 3px #000 outset;
    border-radius: 10px;
    color: #000;
    height: 35px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
    margin-right: 5px;
    
}
#boton:hover{
    background-color:#999999;
}
#boton:active{
    background-color: #333333;
    color: #ffffff;
}
.contenido{
    background-color: white;
}
.botonMini{
    background-color:#ffffff;
    position:relative;
    float: left;
    display:inline;
    width:auto;
    vertical-align:bottom;;
    padding-left: 20px;
    border: 3px #000 outset;
    border-radius: 10px;
    color: #000;
    height: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    
}