body{
    background-color: #999999;
}
.cabecera{
    height: 100px;
    width: 90%;
    background-color: #666666;
}
.imgLogo{
    width: 20%;
    height: 100px;
    background-image: url("../images/logo.png");
}
.login{
    height: 100px;
    width: 80%;
}
.menu{
    height: 50px;
    width: 90%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position:relative;
    float:left;
    border-bottom: 2px #666666 outset;
}
#boton{
    background-color:#ffffff;
    position:relative;
    float: left;
    display:inline;
    width:auto;
    vertical-align:bottom;;
    padding-left: 20px;
    border: 1px #000 solid;
    color: #000;
}
#boton:hover{
    background-color:#999999;
}
#boton:active{
    background-color: #333333;
    color: #ffffff;
}
.contenido{
    background-color: #ffffff;
}