body{
    background-color: #ccccff;
}
.cabecera{
    position: relative;
    float: left;
    height: 100px;
    width: 100%;
    background-color: #003366;
}
.imgLogo{
    margin-left: 20px;
    height: 100px;
    position: relative;
    float: left;
}
.login{
    height: 100px;
    position: relative;
    float: right;
    border-left: 3px #FFFFFF solid;
    vertical-align: bottom;
}
#login{
    padding-left: 020px;
    padding-right: 10px;
    margin-top: 30px;
}
#logerase #resgistrarse{
    margin-top: 15px;
}
.menu{
    height: 40px;
    width: 90%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position:relative;
    float:left;
    border-bottom: 4px #666666 outset;
    background-color: #9999ff;
    color: white;
}
#menu{
        margin-top: 0px;
        padding-left: 5px;
}
.boton{
    background-color:#ffffff;
    position:relative;
    float: left;
    display:inline;
    width:auto;
    vertical-align:bottom;;
    padding-left: 20px;
    border: 3px #000 outset;
    border-radius: 10px;
    color: #000;
    height: 28px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 20px;
    margin-right: 5px;
    
}
#boton:hover{
    background-color:#999999;
}
#boton:active{
    background-color: #333333;
    color: #ffffff;
}
.contenido{
    background-color: white;
}
.botonMini{
    background-color:#ffffff;
    position:relative;
    float: left;
    display:inline;
    width:auto;
    vertical-align:bottom;;
    padding-left: 20px;
    border: 3px #000 outset;
    border-radius: 10px;
    color: #000;
    height: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;  
}
#titulo{
    position: relative;
    float: left;
    padding-top: 2px;
}
#botonBuscarCurso{
    position: relative;
    float: left;
}

#buscador{
    padding-left: 10px;
}

#buscarCurso{
    background-color:#3333ff;
    color: white;
}

#buscarCurso:hover{
    position: relative;
    float: left;
    background-color:#99ccff;
    color: black;
}

#buscar{
    background-color:#ccffcc;
}

#cargaCursos{
    padding-top: 170px;
}


.tablaCursos{
    display:table;
    width:auto;
    margin: auto;
    text-align: left;
    border: 2px solid black;
}

.tablaCursos td{
    border: 1px solid #ddd;
    padding: 0px;
    text-align: left;
}

.tablaCursos th {
    border: 1px solid #ddd;
    padding: 0px;
    text-align: center;
}
.tablaCursos tr{
    background-color: #99ccff;
}

.encabezadoCursos{
    background-color: #6666ff;
    border-bottom: 2px solid black;
}

.tablaCursos tr:nth-child(even) {
    background-color: #9999ff;
}